[submodule "SmartHubJavaAPI"]
	path = SmartHubJavaAPI
	url = https://github.com/gt-health/SmartHubJavaAPI
[submodule "VRDR_javalib"]
	path = VRDR_javalib
	url = https://github.com/gt-health/VRDR_javalib.git
